[submodule "bundle/Gist.vim"]
	path = bundle/Gist.vim
	url = git://github.com/vim-scripts/Gist.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = https://github.com/onehouse/vim-bufexplorer
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
